<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" />
    
  </system.web>
  <connectionStrings>
    <add name="RealtorEntities" connectionString="metadata=res://*/RealtorEntity.RealtorDatabaseModel.csdl|res://*/RealtorEntity.RealtorDatabaseModel.ssdl|res://*/RealtorEntity.RealtorDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Your_ServerName;initial catalog=Realtor;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <add key="SmtpServerDetails" value=""/>
    <add key="FromEmail" value=""/>
    <add key="SmtpPassword" value=""/>
    <add key="ToEmail" value=""/>
    
  </appSettings>
</configuration>